{% from 'tree.template.html' import render_tree %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visual Guide for Qtile Bonsai</title>
    <link href="themes.css" rel="stylesheet">
    <link href="visual_guide.css" rel="stylesheet">
  </head>
  <body>
    <h1>Qtile Bonsai Commands</h1>

    <ul class="guide">
      {% for section in sections %}
        <li class="section">
          <h2 class="title">{{ section.title }}</h2>
            {% for example in section.examples %}
              <div class="example" data-command="{{ example.command }}" >
                {{ render_tree(example.lhs, "lhs") }}
                {{ render_tree(example.rhs, "rhs") }}
              </div>
            {% endfor %}
          </div>
        </li>
      {% endfor %}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.7/leader-line.min.js" integrity="sha512-0dNdzMjpT6pJdFGF1DwybFCfm3K/lzHhxaMXC/92J9/DZujHlqYFqmhTOAoD0o+LkeEsVK2ar/ESs7/Q2B6wJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="visual_guide.js"></script>
  </body>
</html>
